datatypes/.classpath
datatypes/.project
datatypes/.settings/org.eclipse.core.resources.prefs
datatypes/.settings/org.eclipse.jdt.apt.core.prefs
datatypes/.settings/org.eclipse.jdt.core.prefs
datatypes/.settings/org.eclipse.m2e.core.prefs
datatypes/target/*
